<!DOCTYPE html>
<html lang="en">
<head>
  <!--   FOR SEO -->
  <link rel="sitemap" type="application/xml" href="/sitemap.xml">
  <meta property="og:title" content="{{ page.title | default: site.data.main_info.title }}" />
  <meta property="og:description" content="{{ page.description | default: site.data.main_info.description }}" />
  <meta property="og:image" content="{{ page.image | default: site.data.main_info.profile_pic }}" />
  <meta property="og:url" content="{{ page.url | default: site.baseurl }}" />
  <meta name="google-site-verification" content="YbCqDOCYMDG2RBtfo7c-SGoOj4OoQAh3SdfJYherpsk" />
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Homepage of Ashish Sinha">
  <meta name="author" content="Ashish Sinha">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="googlebot" content="noarchive">
  <meta name="robots" content="noarchive">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Skeleton tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
  <script src={{ "/libs/external/skeleton_tabs/skeleton-tabs.js" | prepend: site.baseurl }}></script>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> -->

  <!-- Timeline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/timeline.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="stylesheet" href={{ "/libs/external/github-prettify-theme.css" | prepend: site.baseurl }}>-->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header">
      <div class="row">
        <!-- non randomized version of pics -->
        <!-- <div class="three columns">
          <a href="{{ site.baseurl }}"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
        </div> -->
        <!-- uncomment above for non-randomized version of pics -->
        <div class="three columns">
            <a href="{{ site.baseurl }}">
              <img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pics[0] }}' id="profile-pic">
            </a>
        </div>
        <script>
          const pics = [
            {% for pic in site.data.main_info.profile_pics %}
              "{{ site.baseurl }}{{ pic }}"{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];
          const idx = Math.floor(Math.random() * pics.length);
          document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("profile-pic").src = pics[idx];
          });
        </script>

        <div class="nine columns main-description">
            <h1>{{ site.data.main_info.name }}</h1>
            <p>{{ site.data.main_info.title }}</p>
            <p>{{ site.data.main_info.email }}</p>
            <p>
              <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
                <i class="fa fa-github" aria-hidden="true"></i>
              </span>
<!--               <span onclick="window.open('{{ site.data.main_info.facebook }}')" style="cursor: pointer">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span> -->

              <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
                <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
              </span>

              <span onclick="window.open('{{ site.data.main_info.CV }}')" style="cursor: pointer">
                <i class="ai ai-cv ai-2x" aria-hidden="true" alt='CV'></i>
              </span>
              <span onclick="window.open('{{ site.data.main_info.Resume }}')" style="cursor: pointer">
                <!-- <i class="ai ai-archive ai-ex" aria-hidden="true"></i> -->
<!--                 <i class="ai ai-obp ai-2x" aria-hidden="true"></i> -->
                  <i class="fa fa-file-pdf-o" aria-hidden="true" alt = "resume"></i>
              </span>
            </p>
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#publications" | prepend: site.baseurl }}>Publications</a></li>
<!--           <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#" | prepend: site.baseurl }}>Projects</a></li> -->
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#resume" | prepend: site.baseurl }}>Vita</a></li>
        </ul>
      </div>
    </nav>
    

    {{ content}}
    

    <div class="footer">
      <div class="row">
        <div class="four columns">
          {{ site.data.main_info.name }}
        </div>
        <div class="four columns">
          {{ site.data.main_info.email }}
        </div>
        <div class="four columns">
          <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
            <i class="fa fa-github" aria-hidden="true"></i>
          </span>
<!--           <span onclick="window.open('{{ site.data.main_info.facebook }}')" style="cursor: pointer">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </span> -->
          <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
            <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.CV }}')" style="cursor: pointer">
            <i class="ai ai-cv ai-2x" aria-hidden="true"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.Resume }}')" style="cursor: pointer">
<!--             <i class="ai ai-obp ai-2x" aria-hidden="true"></i> -->
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div id ='map'>
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=mduT2IGnektWfs1JJJMK-k3dJmSoFOIuA6NPz9pOX9I&cl=ffffff&w=a"></script>
    </div>
  </div>

  <!-- Google Analytics -->
  {% include google_analytics.html %}

  
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
